
<div class="new">
  <h3>Leave us a message here</h3>

</div>


<div class="container">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Type your name">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Type your last name">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">USA</option>
      <option value="canada">Canada</option>
      <option value="usa">INDIA</option>
      <option value="usa">GERMANY</option>
      <option value="usa">CHINA</option>
      <option value="usa">JAPAN</option>
      <option value="usa">BRAZIL</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write your message here.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

</div>
