
div {
  box-sizing: border-box;
  display: inline-block;
  height: 140px;
  font-size: 20px;
  padding: 50px;
  text-align: center;
  white-space: normal;
  width: calc(32% - .5em);
  white-space: wrap;

}
.green {
  margin-right: 1em;
  background: rgb(147, 173, 147);
}
.blue {
  background: rgb(130, 149, 155);
}
